{% extends 'base.html' %}
{% load static %}
 
{% block content %}
<div class="title-body">Восстановление пароля</div>
<div class="auth-form">
    <form method="post" class="auth-form__inner">
        {% csrf_token %}
        {% for f in form %}
            <div class="auth-field">
                <label class="auth-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                {% if f.errors %}
                    <div class="form-error">{{ f.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="auth-btn">Сбросить по E-mail</button>
    </form>
</div>
{% endblock %}