{% extends 'base.html' %}
{% load static %}
{% load i18n %}


<!--шаблон скопирован из register/password_reset_done.html и немного изменен-->
{% block content %}
<div class="title-body">Сброс пароля</div>
<div class="password-reset-done-container">
    <div class="password-reset-done-card">
        <svg class="password-reset-done-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#4CAF50">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
        </svg>

        <h1 class="password-reset-done-title">Сброс пароля</h1>

        <div class="password-reset-done-messages">
            <p class="password-reset-done-text">
                {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </p>
            <p class="password-reset-done-text">
                {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </p>
        </div>

        <a href="{% url 'login' %}" class="password-reset-done-link">
            Вернуться на страницу входа
        </a>
    </div>
</div>
{% endblock %}